* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.openTech {
  background: url("../images/openTech/img.jpg") no-repeat center;
  background-size: 100%;
  height: 570px;
}
.openTech__overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(170, 34, 183, 0.7)), color-stop(0.01%, rgba(121, 41, 210, 0.7)));
  background: linear-gradient(180deg, rgba(170, 34, 183, 0.7) 0%, rgba(121, 41, 210, 0.7) 0.01%);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 25px;
}
.openTech__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: white;
}
.openTech__btn {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 434px;
  height: 88px;
  border: none;
  cursor: pointer;
}

.news {
  background: url("../images/news/newsImg.png") no-repeat center;
  background-size: 100%;
  height: 570px;
}
.news__overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(170, 34, 183, 0.7)), color-stop(0.01%, rgba(121, 41, 210, 0.7)));
  background: linear-gradient(180deg, rgba(170, 34, 183, 0.7) 0%, rgba(121, 41, 210, 0.7) 0.01%);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 25px;
}
.news__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: white;
}
.news__btn {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 434px;
  height: 88px;
  border: none;
  cursor: pointer;
}

.partners {
  padding: 157px 60px 192px;
}
.partners__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  text-align: center;
  color: #0F2935;
}
.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 200px;
     -moz-column-gap: 200px;
          column-gap: 200px;
  margin-top: 208px;
}
.partners__img {
  width: calc(33.3333% - 133.3333px);
}

.footer {
  background: #0F2935;
  padding: 82px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
}
.header__logo {
  width: 80px;
  height: 82px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  list-style: none;
}
.header__list-item {
  width: 209px;
  height: 34px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #0F2935;
  cursor: pointer;
}

.main__intro {
  background: linear-gradient(138.29deg, #F5168F 0%, #552DE5 95.87%);
  width: 100%;
  height: 667px;
  border-radius: 30px;
}
.main__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 33px;
}
.main__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 40px;
}
.main__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 758px;
  height: 534px;
}
.main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 28px;
  padding-top: 158px;
  padding-right: 120px;
}
.main__buttons-btn {
  width: 386px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(94.88%, rgba(255, 255, 255, 0.2)), to(rgba(92, 43, 223, 0.2)));
  background: linear-gradient(rgba(255, 255, 255, 0.2) 94.88%, rgba(92, 43, 223, 0.2));
  border-radius: 30px;
  padding: 20px;
  border: none;
}
.main__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 74px;
  width: 100%;
  border: 5px solid #E81896;
  border-radius: 20px;
}
.main__about-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 60px 18px 0px 41px;
}
.main__about-box1-text {
  white-space: nowrap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #0F2935;
}
.main__about-img {
  -webkit-filter: drop-shadow(10px 10px 100px rgba(245, 22, 143, 0.2));
          filter: drop-shadow(10px 10px 100px rgba(245, 22, 143, 0.2));
  border-radius: 20px;
  width: 40%;
}

.main__target {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../images/target.svg) center/cover no-repeat fixed;
  padding: 149px 0 176px;
  margin-top: 46px;
}
.main__target::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.38);
  position: absolute;
  top: 0;
  left: 0;
}
.main__target-box1 {
  position: relative;
  z-index: 2;
}
.main__target__target-box1-img {
  width: 1823px;
  height: 713px;
  left: 0px;
  top: 0px;
}
.main__target-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 101px;
}
.main__target-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.main__target-buttons-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 15px 20px;
}

.info {
  background: #FFFFFF;
}
.info__cards {
  margin-top: 158px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.info__card {
  background: -webkit-gradient(linear, left top, left bottom, from(#6828CF), color-stop(93.23%, #F11792), to(rgba(3, 3, 3, 0)));
  background: linear-gradient(180deg, #6828CF 0%, #F11792 93.23%, rgba(3, 3, 3, 0) 100%);
  border-radius: 20px;
  padding: 49px 5px 89px 40px;
  width: calc(50% - 20px);
}
.info__card-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info__card-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
}
.info__card-item {
  list-style-type: circle;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  padding-top: 31px;
}

.main__history {
  position: relative;
  padding: 102px 124px 115px 110px;
}
.main__history::before {
  content: url("../images/pink1.png");
  position: absolute;
  bottom: -200px;
  left: 0;
  z-index: -1;
}
.main__history::after {
  content: url("../images/pink2.png");
  right: 0px;
  top: 398px;
  position: absolute;
  z-index: -2;
}
.main__history-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 221px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 85px;
  text-align: center;
  color: #0F2935;
}
.main__history-text1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #0F2935;
}
.main__history .main__history-list {
  padding-left: 35px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #0F2935;
}

.inNumbers {
  padding: 130px 53px 170px 536px;
  position: relative;
  top: 0;
  left: 0;
}
.inNumbers__circle {
  width: 557px;
  height: 512px;
  border: 1px solid rgba(233, 237, 28, 0.5019607843);
  border-radius: 50%;
  position: absolute;
  top: 133px;
  left: 481px;
  z-index: -1;
}
.inNumbers__circle-right {
  left: 833px;
}
.inNumbers__title {
  font-weight: 400;
  font-size: 60px;
  line-height: 73px;
  color: #0F2935;
  margin-bottom: 165px;
}
.inNumbers__list {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #0F2935;
}